@tailwind base;
@tailwind components;
@tailwind utilities;

.login-register input[type="text"],
.login-register input[type="email"],
.login-register input[type="password"] {
    @apply w-full rounded-lg p-2 mb-2 border
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}